<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">List of user</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Last name
                                  </th>
                                  <th>
                                      First name
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                      Password
                                  </th>
                                  <th>
                                      Role
                                  </th>
                                  <th>
                                      Action
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                      </td>
                                      <td>
                                        <!-- Icônes d'action pour la première ligne -->
                                        <i class="fa fa-trash delete-icon" style="font-size: 24px; color: red; cursor: pointer; margin-right: 10px;"></i>
                                        <i class="fa fa-edit edit-icon" style="font-size: 24px; color: red; cursor: pointer;"></i>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Curaçao
                                      </td>
                                      <td>
                                          Sinaai-Waas
                                      </td>
                                      <td class="text-primary">
                                          $23,789
                                      </td>
                                      <td>
                                        <!-- Icônes d'action pour la première ligne -->
                                        <i class="fa fa-trash delete-icon" style="font-size: 24px; color: red; cursor: pointer; margin-right: 10px;"></i>
                                        <i class="fa fa-edit edit-icon" style="font-size: 24px; color: red; cursor: pointer;"></i>
                                      </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
